/**
 * Subject: Main styles class.
 * Descripcion: This class contains all the main styles used in the framework.
 * Last updated: Jul 14, 2022
**/

/** Principal containers configuration **/
:root {
    --background-magnify-framework: #6e35ae;

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #A0A0A0;
    --color-gray-light: #CCCCCC;
    
    --small-font-size: 0.875rem;
    --regular-font-size: 1rem;
    --large-font-size: 1.25rem;

    --light-font-weight: 300;
    --regular-font-weight: 400;
    --semibold-font-weight: 600;
    --bold-font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.main {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    box-sizing: border-box;
}

.main-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}

.main-container, main {
    flex: 1 1 auto;
    padding: 10px 32px;
    position: relative;
}

/** Position styles **/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left {
    float: left;
}

.right {
    float: right;
}

/** Absolute element position **/
.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-auto {
    left: auto;
}

.right-auto {
    right: auto;
}

.top-auto {
    top: auto;
}

.bottom-auto {
    bottom: auto;
}

/** Hover styles **/
*.lighten-hover:hover {
    transition: .5s;
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)); /** Takes itself background color or pather background, itselft as first option but more ligth. **/
}

*.darken-hover:hover {
    transition: .5s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.090), rgba(0, 0, 0, 0.090)); /** Takes itself background color or pather background, itselft as first option but more ligth. **/
}

/** Border radious styles **/
*.semi-rounded {
    border-radius: 0.625rem;
}

*.rounded {
    border-radius: 1.25rem;
}

*.circular {
    border-radius: 50%;
}

/** Shadow and background styles **/
.light-shadow {
    box-shadow: rgba(149, 157, 165, 0.25) 0px 8px 24px;
}

.dark-shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
}

.transparent {
    background-color: transparent;
}

/** Click styles **/
.click {
    cursor: pointer;
}

/** Separators styles **/
.separator-sm {
    width: 15px;
    height: 100%;
}

.separator-md {
    width: 30px;
    height: 100%;
}

.separator-lg {
    width: 45px;
    height: 100%;
}

/** Icon item styles **/
.icon-item-container {
    width: 50px;
    height: 100%;
    max-width: 50px;
}

.icon-item {
    max-height: 1.5rem !important;
    font-size: 1.25rem !important;
}

.icon-item-sm {
    max-height: 1rem !important;
    font-size: 0.75rem !important;
}

.icon-item-md {
    max-height: 1.5rem !important;
    font-size: 1.25rem !important;
}

.icon-item-lg {
    max-height: 1.75rem !important;
    font-size: 1.5rem !important;
}

/** Text color styles **/
.black-text-color {
    color: var(--color-black);
}

.white-text-color {
    color: var(--color-white);
}

.light-text-color {
    color: var(--color-gray);
}

.removed-text-decoration {
    text-decoration: none;
}

/** Font text align styles **/
.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

/** Font size styles **/
.small-font-size {
    font-size: var(--small-font-size);
}

.regular-font-size {
    font-size: var(--regular-font-size);
}

.large-font-size {
    font-size: var(--large-font-size);
}

/** Font weight styles **/
.font-weight-light {
    font-weight: var(--light-font-weight);
}

.font-weight-normal {
    font-weight: var(--regular-font-weight);
}

.font-weight-semibold {
    font-weight: var(--semibold-font-weight);
}

.font-weight-bold {
    font-weight: var(--bold-font-weight);
}

/** Flex properties styles **/
.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

/** Align items and justify content styles **/
.align-items-stretch {
    align-items: stretch;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.align-justify-content-center {
    align-items: center;
    justify-content: center;
}

/** Width styles **/
.width-fit-content {
    width: fit-content !important;
}

.width-25-p {
    width: 25%;
}

.width-50-p {
    width: 50%;
}

.width-75-p {
    width: 75%;
}

.width-100-p {
    width: 100%;
}

/** Height styles **/
.height-fit-content {
    height: fit-content !important;
}

.height-25-p {
    height: 25%;
}

.height-50-p {
    height: 50%;
}

.height-75-p {
    height: 75%;
}

.height-100-p {
    height: 100%;
}

/** Margin and padding styles **/
.margin-0 {
    margin: 0;
}

.padding-0 {
    padding: 0;
}