.right-column-indicator {
    padding-right: 25px;
    white-space: nowrap;
    border-right: solid 1px #CCCCCC;
}

.left-column-indicator {
    padding-left: 20px;
    white-space: nowrap;
    border-left: solid 1px #CCCCCC;
}

.table-container {
    overflow-x: scroll;
}

.sample-table {
    width: 100%;
    border-collapse: collapse;
}

.sample-table thead {
    text-align: left;
    border-bottom: solid 2px var(--background-magnify-framework);
    height: 40px;
    color: #A6B5C4;
}

.sample-table thead tr th {
    font-size: 16px;
    position: relative;
    padding-left: 20px;
    /* padding-right: 15px; */
    padding-bottom: 15px;
    font-weight: var(--semibold-font-weight);
}

.sample-table tbody tr {
    height: 60px;
    background-color: #F6F6F6;
}

.sample-table tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

.sample-table tbody tr td {
    font-size: 15px;
    color: #A0A0A0;
    padding-left: 20px;
}

.sample-table tbody tr td:first-child {
    font-weight: var(--semibold-font-weight);
    color: var(--background-magnify-framework);
}

.sample-table tbody tr td:last-child {
    padding-right: 20px;
}

/* .table-container.linear {
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-row-indicator {
    top: 0;
    left: 1px;
    width: 0px;
    height: 100%;
    transition: .12s;
    position: absolute;
    background-color: black;
}

.linear-table thead tr {
    height: 40px;
    text-align: left;
    border-bottom: solid 1px #cccccc;
}

.linear-table thead tr th {
    padding: 0px 20px;
}

.linear-table thead tr th:not(.first) {
    border-left: solid 1px #cccccc;
}

.linear-table tbody tr:nth-child(even) {
    background-color: #F1F1F1;
}

.linear-table tbody tr td.first {
    position: relative;
    font-weight: var(--semibold-font-weight);
}

.linear-table tbody tr:hover .table-row-indicator {
    width: 3px;
    transition: .12s;
}

.linear-table tbody tr td {
    height: 42px;
    font-size: 15px;
    padding: 0px 20px;
}

.linear-table tbody tr td .icon-item {
    margin-right: 15px;
} */